@use './mixins';

body {
	@include mixins.stage(light);

	font-family: var(--ff);
	font-weight: var(--fw-400);
	color: var(--clr-text);
	background-color: var(--bg-body);

	&[data-theme='dark'] {
		@include mixins.stage(dark);
	}

	@media (prefers-color-scheme: dark) {
		@include mixins.stage(dark);
	}
}

h1,
h2,
h3,
span {
	font-weight: var(--fw-700);
	color: var(--clr-heading);
}

p {
	font-size: var(--fz-regular);
}
