.background-pattern {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 15.25em;

		background-color: var(--bg-pattern);
		border-radius: 0 0 var(--borr-md) var(--borr-md);
		z-index: -10;
	}
}
